<div class="quiz-container container-fluid">
  <div class="row  align-items-center justify-content-center mt-2 mt-lg-3 mt-xl-5 mt-md-3 mt-sm-2 mb-5">
    <div class="col-3 col-xl-3 col-lg-5 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
      <!--<img class="img-fluid" src="./assets/image/logo-big.png">-->
      <img class="img-fluid" src="http://localhost:443/images/main-logo.png">
    </div>
  </div>
  <form [formGroup]="formTeamName" class="">
    <div class="row align-items-center justify-content-center">
      <div class="col-10 col-md-6 col-sm-12 col-lg-10 col-xl-10">
        <div class="row quiz-row align-items-center justify-content-center">
          <div class="col-12 col-xl-4 form-group-quiz">
            <input type="text" class="" placeholder="Tim 1" formControlName="team1" maxlength="9">
          </div>
        </div>
        <div class="row quiz-row align-items-center justify-content-center">
          <div class="col-12 col-xl-4 form-group-quiz">
            <input type="text" class="" placeholder="Tim 2" formControlName="team2" maxlength="9">
          </div>
        </div>
        <div class="row quiz-row align-items-center justify-content-center">
          <div class="col-12 col-xl-4 form-group-quiz">
            <input type="text" class="" placeholder="Tim 3" formControlName="team3" maxlength="9">
          </div>
        </div>
        <div class="row quiz-row align-items-center justify-content-center">
          <div class="col-12 col-xl-4 form-group-quiz">
            <input type="text" class="" placeholder="Tim 4" formControlName="team4" maxlength="9">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row align-items-center justify-content-center">
    <div class="col-6">
      <button class="menu-quiz-btn mt-0" [disabled]="!formTeamName.valid"
              (click)="saveTeam()">
        START
      </button>
    </div>
  </div>
</div>

<button class="back-arrow" type="button" (click)="backPage()">
  <img src="/assets/image/previous.png" alt="">
</button>
