@import '../../../mixins-breakpoints';

.quiz-row {
  background: {
    image: url("../../../assets/image/input-row.png");
    size: contain;
    position: center;
    repeat: no-repeat;
    color: unset;
  }
  margin: {
    bottom: 1rem;
  }
}

.form-group-quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    background: {
      color: transparent;
    }
    color: #163c56;
    border: unset;
    font: {
      size: 3vw;
      weight: 900;
    }
    max-width: 100%;
    @include respond-above('xlarge') {
      height: 250px;
      font: {
        size: 6rem;
      }
    }
    @include respond-below('xlarge') {
      height: 130px;
      font: {
        size: 4rem;
      }
    }
    @include respond-below('laptop-hdpi') {
      height: 120px;
      font: {
        size: 4rem;
      }
    }
    @include respond-below('laptop-mdpi') {
      height: 100px;
      font: {
        size: 3rem;
      }
    }
    @include respond-below('laptop') {
      height: 120px;
      font: {
        size: 3rem;
      }
    }
    outline-color: transparent;
    &:active {
      border: unset;
    }
  }
}

.menu-quiz-btn {
  //height: auto !important;
}
