<div class="container">
  <div class="row align-items-center justify-content-center mt-5 mb-5">
    <div class="col-3 col-xl-5 col-lg-5 col-md-10 col-sm-10 d-flex justify-content-center align-items-center">
      <img class="img-fluid" src="./assets/image/logo-2-highscore.png">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center align-items-center">
        <div class="col">
        </div>
      </div>
      <div class="row highscore-row" *ngFor="let score of scoreTeam; let i=index"
           [style.backgroundImage]="i%2==0?'url(./assets/image/highscore-row-1.png)':'url(./assets/image/highscore-row-2.png)'">
        <div class="col-2 text-right">{{i+1}}.</div>
        <div class="col-8 text-center">{{score.name}}</div>
        <div class="col-2 text-left">{{score.score}}</div>
      </div>
      <div class="row justify-content-center align-items-center mt-4">
        <div class="col-6">
          <button class="menu-quiz-btn" type="button" (click)="playAgain()" style="font-size: 1.5rem !important;">IGRAJ
            PONOVO
          </button>
        </div>
        <div class="col-6">
          <button class="menu-quiz-btn" type="button" (click)="saveScore()" style="font-size: 1.5rem !important;">GLAVNI
            MENI
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
