//
//.quiz-live-game-team {
//  width: 100% !important;
//  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
//  color: #000;
//  font-weight: bold;
//  padding: 2px;
//  margin: 2px 0;
//  background: rgba(226, 226, 226, 0.82);
//  .col-8 {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    font-size: 3.5em;
//  }
//  .col-2 {
//    font-size: 3.5em;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//  }
//}

.highscore-row {
  color: white;
  background: {
    position: center;
    repeat: no-repeat;
    size: contain;
  }
  font: {
    size: 2rem;
  }
  div {
    height: 100px;
    align-items: center;
    display: grid;
  }
}
