@import './mixins-breakpoints';

@font-face {
  font-family: 'Exo';
  src: url('assets/fonts/exo.ttf');
}

body, div, input, button, h1, h2, h3, h4, h5, h6, p, pre {
  font-family: 'Exo', sans-serif !important;
}

body {
  margin: 0 !important;
  height: 100%;
  background: url(assets/image/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row, button {
  outline-color: transparent;
  &:focus {
    outline-color: transparent !important;
  }

}

.quiz-container {
  //height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quiz-container-splash {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media only screen and (max-width: 1400px) {
  .quiz-answer-taster {
    font-size: 1.5em !important;
    width: 48px;
    height: 48px;
    border: 4px solid;
  }
}

.settings-container {
  //height: 100vh;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
}

.menu-quiz-btn {
  background: {
    image: url(assets/image/main-menu-not-selected.png);
    size: contain;
    position: center;
    repeat: no-repeat;
    color: unset;
  }
  border: unset;
  width: 100%;
  //height: 150px;
  @include respond-above('xlarge') {
    height: 250px;
    font: {
      size: 8rem;
      weight: 800;
    }
  }
  @include respond-below('xlarge') {
    height: 130px;
    font: {
      size: 4.5rem;
      weight: 800;
    }
  }
  @include respond-below('laptop-hdpi') {
    height: 120px;
    font: {
      size: 4rem;
      weight: 800;
    }
  }
  @include respond-below('laptop-mdpi') {
    height: 100px;
    font: {
      size: 3.5rem;
      weight: 800;
    }
  }
  @include respond-below('laptop') {
    height: 80px;
    font: {
      size: 3rem;
      weight: 800;
    }
  }
  color: white;
  margin: {
    top: 50px;
  }
  cursor: pointer;
  &:hover {
    background: {
      image: url(assets/image/main-menu-selected.png);
    }
    border: unset;
  }
  &[disabled] {
    opacity: .8;
  }
}

.custom-alert {
  background-color: #b1c3d1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  max-width: 400px;
  bottom: 40px;
  right: 20px;
  z-index: 100;
  padding: 1.5rem;
  box-shadow: 0 2px 10px #e53e3b;
  color: #163c56;
  font: {
    size: 1.1rem;
    weight: 900;
  }
}

ngb-progressbar {
  box-shadow: 2px 1px 20px 6px #2e5d7f !important;
  display: inherit;
  border-radius: 2rem;
  .progress {
    border-radius: 3rem !important;
    background-color: #00354b !important;
    box-shadow: inset 2px 1px 20px 6px #002534 !important;
    padding: .5rem;
    .progress-bar {
      border-radius: 3rem !important;
    }
  }
}

.progress-col-6, .progress-col-12 {
  position: relative;

  .shadow-bottom {
    position: absolute;
    width: 60%;
    background: black;
    bottom: 0;
    left: 50%;
    height: 34px;
    box-shadow: 0 26px 59px #000;
    border-radius: 100%;
    z-index: -1;
    margin-left: -30%;
  }
  .shadow-top {
    position: absolute;
    width: 60%;
    background: black;
    top: 0;
    left: 50%;
    height: 20px;
    -webkit-box-shadow: 0 -26px 59px #000;
    box-shadow: 0 -32px 178px hsla(0, 0%, 100%, 0.81);
    border-radius: 100%;
    z-index: -1;
    margin-left: -30%;
  }
}

.cdk-global-overlay-wrapper {
  background-color: rgba(23, 55, 84, 0.95);
  position: absolute !important;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 999;
  .cdk-overlay-pane {
    background: url(assets/image/background.png) no-repeat center center fixed;
  }
}

.settings-progress {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(23, 55, 84, 0.95);
  display: none;
  align-items: center;
  justify-content: center;
  &.active {
    display: flex;
  }
}

.back-arrow{
  background-color: unset;
  border: unset;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 150px;
  opacity: .6;
  z-index: 99999999999999999;

  img{
    max-width: 100%;
    max-height: 100%;
  }
  &:active{
    //box-shadow: 0 0 30px #000;
  }
}





