@import '../../../mixins-breakpoints';

.settings-form-group {
  form {
    width: 100%;
  }
  background: {
    image: url(../../../assets/image/input-row.png);
    repeat: no-repeat;
    size: contain;
    position: center;
  }
  margin: {
    bottom: .4rem;
  }
  display: flex;
  justify-content: flex-start;
  align-items: center;
  label {
    font: {
      family: 'Exo', sans-serif;
      size: 1.5rem;
    }
    @include respond-below('laptop-hdpi') {
      font: {
        size: 1.1rem;
      }
    }
    @include respond-below('xlarge') {
      height: 110px;
    }
    @include respond-below('large') {
      height: 80px;
    }
    padding: {
      left: 2rem;
    }
    height: 80px;
    margin-bottom: 0;
    line-height: 100%;
    @include respond-below('laptop') {
      font: {
        size: .8rem;
      }
    }
  }
  input {
    background: {
      color: transparent;
    }
    color: #163c56;
    border: unset;
    max-width: 100%;
    outline-color: transparent;
    &:active {
      border: unset;
    }
    height: 80px;
    text-align: center;
    font: {
      size: 2rem;
      weight: 900;
    }
  }
}

.setting-title {
  font: {
    family: 'Exo', sans-serif;
    size: 2rem;
  }
}

.settings-form-group-check {
  //background: {
  //  image: url(../../../assets/image/input-row.png);
  //  repeat: no-repeat;
  //  size: contain;
  //  position: center;
  //}
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;

  }
  label {
    font: {
      family: 'Exo', sans-serif;
      size: 1.5rem;
    }
    height: 40px;
    margin-bottom: 0;
    line-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    background: {
      color: transparent;
    }
    color: #163c56;
    border: unset;
    font: {
      size: 2rem;
      weight: 900;
    }
    max-width: 100%;
    outline-color: transparent;
    &:active {
      border: unset;
    }
  }

  input[type=checkbox] {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
}

.menu-quiz-btn {
  font: {
    size: 1vw;
  }
  margin-top: 0;
}

.save-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.url-logo {
  input {
    text-align: left;
    margin-left: 1.1rem;
    width: 100%;
    font: {
      family: 'Exo', sans-serif;
      size: 1.1rem;
    }
    @include respond-below('xlarge') {
      height: 110px;
    }
    @include respond-below('large') {
      height: 80px;
    }
  }

  .download-img {
    img {
      max-width: 100%;
      max-height: 100%;
    }
    &:active {
      box-shadow: 0 0 30px #000;
    }
  }

}


