<div class="container">
  <div class="row align-items-center justify-content-center mt-5 mb-5">
    <div class="col-3 col-xl-5 col-lg-5 col-md-10 col-sm-10 d-flex justify-content-center align-items-center">
      <img class="img-fluid" src="./assets/image/logo-2-settings.png">
    </div>
  </div>
</div>
<div class="container-fluid settings-container">
  <form [formGroup]="formSettings" class="">
    <div class="row justify-content-around">
      <div class="col-3">
        <div class="row">
          <div class="col-12 text-center text-white mb-3 setting-title">
            Pitanja
          </div>
        </div>
        <div class="row settings-form-group">
          <label for="numberQuestion" class="col-9 d-flex justify-content-start align-items-center">Ukupan broj
            pitanja:</label>
          <div class="col-3">
            <input type="number" class="settings-form-control" id="numberQuestion" aria-describedby="numberQuestion"
                   placeholder="10" formControlName="numberQuestion">
          </div>
        </div>
        <div class="row settings-form-group mb-0">
          <label for="timerQuestion" class="col-9 d-flex justify-content-start align-items-center">Vreme za odgovor u
            sekundama:</label>
          <div class="col-3">
            <input type="number" class="settings-form-control" id="timerQuestion" aria-describedby="numberQuestion"
                   placeholder="10" formControlName="timeOneQuestion">
          </div>
        </div>
        <div class="row align-items-center justify-content-center">
          <div class="col-12 pl-0 pr-0">
            <button class="menu-quiz-btn" (click)="syncQuestion()" type="button">
              SINHRONIZACIJA PITANJA
            </button>
          </div>
        </div>
        <div class="row settings-form-group mb-0 url-logo">
          <div class="col-10">
            <input type="url" class="settings-form-control" placeholder="http://quiz.itcentar.rs/logo-big.png"
                   formControlName="logoImgUrl">
          </div>
          <div class="col-2" (click)="downloadLogo()">
            <img src="./assets/image/download.png" alt="" class="download-img">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-5 text-center" *ngIf="changeLogo">
            <img class="img-fluid" [src]="imgLogo">
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-12 text-center text-white mb-3 setting-title">
            Kategorije
          </div>
        </div>
        <div class="row settings-form-group-check justify-content-center align-items-center"
             *ngFor="let category of categories; let i=index;">
          <img src="../../../assets/image/input-row.png">
          <div class="col-1"></div>
          <label class="col-8 form-check-label" [for]="'categories-'+i">{{category.category}}</label>
          <div class="col-3">
            <input type="checkbox" class="categories-quiz" [value]="category.category"
                   [checked]="getCheckedCategory(category.category)" [id]="'categories-'+i">
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-12 text-center text-white mb-3 setting-title">
            Poeni
          </div>
        </div>
        <div class="row settings-form-group">
          <label for="firstCorrectAnswer" class="col-9 d-flex justify-content-start align-items-center">Broj poena za
            prvi tačan odgovor:</label>
          <div class="col-3">
            <input type="number" class="settings-form-control" id="firstCorrectAnswer"
                   aria-describedby="firstCorrectAnswer"
                   placeholder="10" formControlName="firstCorrectAnswer">
          </div>
        </div>
        <div class="row settings-form-group">

          <label for="secondCorrectAnswer" class="col-9 d-flex justify-content-start align-items-center">Broj poena za
            drugi tačan
            odgovor:</label>
          <div class="col-3">
            <input type="number" class="settings-form-control" id="secondCorrectAnswer"
                   aria-describedby="numberQuestion"
                   placeholder="10" formControlName="secondCorrectAnswer">
          </div>

        </div>
        <div class="row settings-form-group">

          <label for="thirdCorrectAnswer" class="col-9 d-flex justify-content-start align-items-center">Broj poena za
            treći tačan odgovor:</label>
          <div class="col-3">
            <input type="number" class="settings-form-control" id="thirdCorrectAnswer" aria-describedby="numberQuestion"
                   placeholder="10" formControlName="thirdCorrectAnswer">
          </div>

        </div>
        <div class="row settings-form-group">

          <label for="fourthCorrectAnswer" class="col-9 d-flex justify-content-start align-items-center">Broj poena za
            četvrtitačan odgovor:</label>
          <div class="col-3">
            <input type="number" class="settings-form-control" id="fourthCorrectAnswer"
                   aria-describedby="numberQuestion"
                   placeholder="10" formControlName="fourthCorrectAnswer">
          </div>

        </div>
        <div class="row settings-form-group">
          <label for="wrongAnswer" class="col-9 d-flex justify-content-start align-items-center">Broj poena za ne tačan
            odgovor:</label>
          <div class="col-3">
            <input type="number" class="settings-form-control" id="wrongAnswer" aria-describedby="numberQuestion"
                   placeholder="10" formControlName="wrongAnswer">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="settings-progress">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6 progress-col-12">
        <div class="shadow-top"></div>
        <ngb-progressbar [value]='progressValue'></ngb-progressbar>
        <div class="shadow-bottom"></div>
      </div>
    </div>
  </div>
</div>

<button class="back-arrow" type="button" (click)="backPage()">
  <img src="/assets/image/previous.png" alt="">
</button>

<div class="container save-container">
  <div class="col-5">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 pl-0 pr-0">
        <button class="menu-quiz-btn" (click)="saveSettings()"
                style="background-image: url('./assets/image/main-menu-selected.png')">
          SAČUVAJ
        </button>
      </div>
    </div>
  </div>
</div>
