<div class="quiz-container container-fluid">
  <div class="row quiz-row align-items-center justify-content-center mt-2 mt-lg-3 mt-xl-5 mt-md-3 mt-sm-2">
    <div class="col-3 col-xl-3 col-lg-5 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
      <!--<img class="img-fluid" src="./assets/image/logo-big.png">-->
      <img class="img-fluid" src="http://localhost:443/images/main-logo.png">
    </div>
  </div>
  <div class="row quiz-row align-items-center justify-content-center">
    <div class="col-6">
      <button class="menu-quiz-btn" routerLink="/team-name">
        IGRA
      </button>
    </div>
  </div>
  <div class="row quiz-row align-items-center justify-content-center">
    <div class="col-6">
      <button class="menu-quiz-btn" routerLink="/rang-list" routerLinkActive="active">
        RANG LISTA
      </button>
    </div>
  </div>
  <div class="row quiz-row align-items-center justify-content-center">
    <div class="col-6">
      <button class="menu-quiz-btn" routerLink="/setting">
        PODEŠAVANJA
      </button>
    </div>
  </div>
</div>
