<div class="container">
  <div class="row align-items-center justify-content-center mt-5 mb-5">
    <div class="col-3 col-xl-5 col-lg-5 col-md-10 col-sm-10 d-flex justify-content-center align-items-center">
      <img class="img-fluid" src="./assets/image/logo-2-highscore.png">
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-10 col-lg-11">
      <!--<table class="table">-->
      <!--<thead class="">-->
      <!--<tr>-->
      <!--<th scope="col">POZICIJA</th>-->
      <!--<th scope="col">IME TIMA</th>-->
      <!--<th scope="col">BROJ POENA</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->

      <!--<tr *ngFor="let score of scoresTeams; let i=index" [style.backgroundImage]="i%2==0?'url(./assets/image/highscore-row-1.png)':'url(./assets/image/highscore-row-2.png)'">-->
      <!--<th scope="row">{{i+1}}.</th>-->
      <!--<td>{{score.name}}</td>-->
      <!--<td>{{score.score}}</td>-->
      <!--</tr>-->
      <!---->
      <!---->

      <!--</tbody>-->
      <!--</table>-->

      <div class="row">
        <div class="col-12">

        </div>
      </div>
      <div class="row highscore-row" *ngFor="let score of scoresTeams; let i=index"
           [style.backgroundImage]="i%2==0?'url(./assets/image/highscore-row-1.png)':'url(./assets/image/highscore-row-2.png)'">
        <div class="col-2 text-right">{{i+1}}.</div>
        <div class="col-8 text-center">{{score.name}}</div>
        <div class="col-2 text-left">{{score.score}}</div>
      </div>
    </div>
  </div>
</div>
<button class="back-arrow" type="button" (click)="backPage()">
  <img src="/assets/image/previous.png" alt="">
</button>
