table {
  text-transform: uppercase !important;
  thead {
    //background-color: #6699FF !important;
    color: white;
    font-size: 2em !important;
  }
  tbody {
    font: {
      weight: bold;
      size: 2em !important;
    }
    tr {
      color: white;
      background: {
        position: center;
        repeat: no-repeat;
        size: contain;
      }

    }
  }
}

.highscore-row {
  color: white;
  background: {
    position: center;
    repeat: no-repeat;
    size: contain;
  }
  font: {
    size: 2rem;
  }
  div {
    height: 100px;
    align-items: center;
    display: grid;
  }
}
