<div class="container-fluid">
  <div class="row">
    <div class="col-9 col-md-9 col-xl-9 col-lg-9 quiz-col">
      <div class="row align-items-center justify-content-center mt-1 mb-1 mb-lg-3 mb-xl-4 mb-md-3 mb-sm-2 mt-lg-3 mt-xl-5 mt-md-3 mt-sm-2">
        <div class="col-4 col-sm-6 col-md-6 col-lg-5 col-xl-4">
          <!--<img class="img-fluid" src="./assets/image/logo-big.png">-->
          <img class="img-fluid" src="http://localhost:443/images/main-logo.png">
        </div>
      </div>
      <div class="row mt-3 mb-3 justify-content-end">
        <div class="col-2"></div>
        <div class="col-2 questions-numbers">
          <img class="img-fluid" src="../../../assets/image/questions-numbers.png" alt="">
          <span>{{currentNumberQuestion+1}} / {{totalNumberQuestion}}</span>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="quiz-question-row row justify-content-center">
        <div class="col-10 question-col">
          <img src="../../../assets/image/question-row.png" alt="">
          {{currentQuestion?.question}}
        </div>
      </div>
      <div class="row answers-row justify-content-center mt-5">
        <div class="col-5 answers-left">
          <div class="row">
            <div class="col-12 answer">
              <div class="col-12 correct-answer "
                   [ngClass]="{'active':currentQuestion?.correctIndex==0 && timerQuestion==0 && nextTasterStep==1}"></div>
              <img class="answer-img" src="../../../assets/image/answer-row-not-active.png" alt="">
              <div class="tag-answer">
                <img class="tag-answer-img" src="../../../assets/image/answer-a.png" alt="">
                A
              </div>
              {{currentQuestion?.answers[0]}}
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 answer">
              <div class="col-12 correct-answer "
                   [ngClass]="{'active':currentQuestion?.correctIndex==1 && timerQuestion==0 && nextTasterStep==1}"></div>
              <img class="answer-img" src="../../../assets/image/answer-row-not-active.png" alt="">
              <div class="tag-answer">
                <img class="tag-answer-img" src=" ../../../assets/image/answer-b.png" alt="">
                B
              </div>
              {{currentQuestion?.answers[1]}}
            </div>
          </div>
        </div>
        <div id="answers-timer" class="col-1 answers-timer">
          <img src="../../../assets/image/timer.png" alt="">
          <img class="answers-timer-alert" src="../../../assets/image/timer-alert.png" alt="">
          <span>{{timerQuestion}}</span>
        </div>
        <div class="col-5  answers-right">
          <div class="row">
            <div class="col-12 answer">
              <div class="col-12 correct-answer "
                   [ngClass]="{'active':currentQuestion?.correctIndex==2 && timerQuestion==0 && nextTasterStep==1}"></div>
              <img class="answer-img" src="../../../assets/image/answer-row-not-active.png" alt="">
              <div class="tag-answer">
                <img class="tag-answer-img" src=" ../../../assets/image/answer-c.png" alt="">
                C
              </div>
              {{currentQuestion?.answers[2]}}
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 answer">
              <div class="col-12 correct-answer "
                   [ngClass]="{'active':currentQuestion?.correctIndex==3 && timerQuestion==0 && nextTasterStep==1}"></div>
              <img class="answer-img" src="../../../assets/image/answer-row-not-active.png" alt="">
              <div class="tag-answer">
                <img class="tag-answer-img" src=" ../../../assets/image/answer-d.png" alt="">
                D
              </div>
              {{currentQuestion?.answers[3]}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 col-md-3 col-xl-3 col-lg-3 traffic-light-col">
      <div class="row mt-5 mb-2">
        <div class="col-12 col-lg-12 col-sm-12 col-xl-12 text-white text-center title-traffic-light">
          REZULTAT
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12 col-sm-12 col-xl-12">
          <div class="row gamer-row align-items-center justify-content-between">
            <div class="col-3 gamer-position" style="background-image: url('../../../assets/image/timer.png')">
              <span>{{checkInPositionVisibility[0]==0?' ':checkInPositionVisibility[0]+'.'}}</span>
            </div>
            <div class="col-5 gamer-name">
              {{currentGroupTeam[0]?.name}}
            </div>
            <div class="col-4 gamer-score" style="background-image: url('../../../assets/image/timer.png')">
              <span>{{currentGroupTeam[0]?.score}}</span>
            </div>
          </div>
          <div class="row answer-row mt-2">
            <div id="team1TasterAnswerA" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-green">
              <img class="img-fluid" src="../../../assets/image/traffic-light-green.png" alt="">
              <span class="tag-answer">A</span>
            </div>
            <div id="team1TasterAnswerB" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-red">
              <img class="img-fluid" src="../../../assets/image/traffic-light-red.png" alt="">
              <span class="tag-answer">B</span>
            </div>
            <div id="team1TasterAnswerC" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-yellow">
              <img class="img-fluid" src="../../../assets/image/traffic-light-yellow.png"
                   alt="">
              <span class="tag-answer">C</span>
            </div>
            <div id="team1TasterAnswerD" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-blue">
              <img class="img-fluid" src="../../../assets/image/traffic-light-blue.png" alt="">
              <span class="tag-answer">D</span>
            </div>
          </div>
          <div class="row gamer-row align-items-center justify-content-between mt-3">
            <div class="col-3 gamer-position" style="background-image: url('../../../assets/image/timer.png')">
              <span>{{checkInPositionVisibility[1]==0?' ':checkInPositionVisibility[1]+'.'}}</span>
            </div>
            <div class="col-5 gamer-name">
              {{currentGroupTeam[1]?.name}}
            </div>
            <div class="col-4 gamer-score" style="background-image: url('../../../assets/image/timer.png')">
              <span>{{currentGroupTeam[1]?.score}}</span>
            </div>
          </div>
          <div class="row answer-row mt-2">
            <div id="team2TasterAnswerA" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-green">
              <img class="img-fluid" src="../../../assets/image/traffic-light-green.png" alt="">
              <span class="tag-answer">A</span>
            </div>
            <div id="team2TasterAnswerB" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-red">
              <img class="img-fluid" src="../../../assets/image/traffic-light-red.png" alt="">
              <span class="tag-answer">B</span>
            </div>
            <div id="team2TasterAnswerC" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-yellow">
              <img class="img-fluid" src="../../../assets/image/traffic-light-yellow.png"
                   alt="">
              <span class="tag-answer">C</span>
            </div>
            <div id="team2TasterAnswerD" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-blue">
              <img class="img-fluid" src="../../../assets/image/traffic-light-blue.png" alt="">
              <span class="tag-answer">D</span>
            </div>
          </div>
          <div class="row gamer-row align-items-center justify-content-between mt-3">
            <div class="col-3 gamer-position" style="background-image: url('../../../assets/image/timer.png')">
              <span>{{checkInPositionVisibility[2]==0?' ':checkInPositionVisibility[2]+'.'}}</span>
            </div>
            <div class="col-5 gamer-name">
              {{currentGroupTeam[2]?.name}}
            </div>
            <div class="col-4 gamer-score" style="background-image: url('../../../assets/image/timer.png')">
              <span>{{currentGroupTeam[2]?.score}}</span>
            </div>
          </div>
          <div class="row answer-row mt-2">
            <div id="team3TasterAnswerA" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-green">
              <img class="img-fluid" src="../../../assets/image/traffic-light-green.png" alt="">
              <span class="tag-answer">A</span>
            </div>
            <div id="team3TasterAnswerB" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-red">
              <img class="img-fluid" src="../../../assets/image/traffic-light-red.png" alt="">
              <span class="tag-answer">B</span>
            </div>
            <div id="team3TasterAnswerC" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-yellow">
              <img class="img-fluid" src="../../../assets/image/traffic-light-yellow.png"
                   alt="">
              <span class="tag-answer">C</span>
            </div>
            <div id="team3TasterAnswerD" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-blue">
              <img class="img-fluid" src="../../../assets/image/traffic-light-blue.png" alt="">
              <span class="tag-answer">D</span>
            </div>
          </div>
          <div class="row gamer-row align-items-center justify-content-between mt-3">
            <div class="col-3 gamer-position" style="background-image: url('../../../assets/image/timer.png')">
              <span>{{checkInPositionVisibility[3]==0?' ':checkInPositionVisibility[3]+'.'}}</span>
            </div>
            <div class="col-5 gamer-name">
              {{currentGroupTeam[3]?.name}}
            </div>
            <div class="col-4 gamer-score" style="background-image: url('../../../assets/image/timer.png')">
              <span>{{currentGroupTeam[3]?.score}}</span>
            </div>
          </div>
          <div class="row answer-row mt-2">
            <div id="team4TasterAnswerA" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-green">
              <img class="img-fluid" src="../../../assets/image/traffic-light-green.png" alt="">
              <span class="tag-answer">A</span>
            </div>
            <div id="team4TasterAnswerB" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-red">
              <img class="img-fluid" src="../../../assets/image/traffic-light-red.png" alt="">
              <span class="tag-answer">B</span>
            </div>
            <div id="team4TasterAnswerC" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-yellow">
              <img class="img-fluid" src="../../../assets/image/traffic-light-yellow.png"
                   alt="">
              <span class="tag-answer">C</span>
            </div>
            <div id="team4TasterAnswerD" class="col col-md-3 col-lg-3 col-xl-3 traffic-light-blue">
              <img class="img-fluid" src="../../../assets/image/traffic-light-blue.png" alt="">
              <span class="tag-answer">D</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
