@import '../../../mixins-breakpoints';

@mixin centerFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSettings($jus,$alig) {
  display: flex;
  justify-content: $jus;
  align-items: $alig;
}

.container-fluid {
  .quiz-question-row {
    .question-col {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      padding: {
        left: 2.5rem;
        right: 2.5rem;
      }
      font-size: 2rem;
      min-height: 200px;
      @include respond-above('xlarge') {
        font-size: 3rem;
        min-height: 250px;
      }
      @include respond-below('xlarge') {
        font-size: 3rem;
        min-height: 250px;
      }
      @include respond-below('large') {
        font-size: 3rem;
        min-height: 250px;
      }
      @include respond-below('laptop-hdpi') {
        font-size: 2rem;
        min-height: 150px;
      }
      @include respond-below('laptop') {

      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }
  .quiz-answer-row {
    .quiz-question {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 20px 0;
      min-height: 170px;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
      //display: block;
      position: relative;
      padding: 24px;
      border-radius: 2px;
    }

    .name-answer {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
      color: #000;
      font: {
        weight: bold;
        size: 2em;
      }
      width: 70px;
      height: 70px;
      //border: 5px rgba(69, 224, 95, 0.82) solid;
      border: 5px solid #e2e2e2 !important;
      background-color: #e2e2e2 !important;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .quiz-answer-content {
      font: {
        size: 2.5em;
        weight: bold;
      }
      line-height: 100%;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    }

    @media only screen and (max-width: 1400px) {
      .quiz-answer-content {
        font: {
          size: 2em;
        }
      }
    }

    .quiz-correct-answer {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 5px rgba(25, 212, 56, 0.82) solid;
      box-shadow: 0 0 30px #08ea11;
      @extend .blink;
    }
    //.p {
    //  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    //}

  }
  .quiz-live-game {
    min-width: 100%;
    max-width: 100%;
    .heading {
      margin: 5px 0;
    }

    .quiz-live-game-team {
      width: 100% !important;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
      color: #000;
      font-weight: bold;
      padding: 2px;
      margin: 2px 0;
      background: rgba(226, 226, 226, 0.82);
      .col-7 {
        //display: flex;
        //align-items: center;
        //justify-content: center;
        p {
          max-width: 100%;
          min-width: 100%;
          word-wrap: break-word;
          font-size: 1.5em;
          flex-wrap: wrap;
        }

        //font-size: 2em;
      }
      .position-active {
        background-color: orange;
        color: white;
      }
      .col-2 {
        font-size: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .col-3 {
        background-color: orange;
        color: white;
        font-size: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .quiz-live-game-reporting {

    }
    .quiz-live-game-score {

    }
    .quiz-live-game-team-title {
      .quiz-live-game--title-team {
        width: 100% !important;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        color: #000;
        font-weight: bold;
        padding: 2px;
        margin: 2px 0;
        background: rgba(226, 226, 226, 0.82);
        .col-7 {
          //display: flex;
          //align-items: center;
          //justify-content: center;
          p {
            max-width: 100%;
            min-width: 100%;
            word-wrap: break-word;
            font-size: 2em;
            flex-wrap: wrap;
          }

          //font-size: 2em;
        }
        .col-2 {

          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .col-3 {
          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .row:last-child {
      margin-bottom: 10px;
    }
  }
}

.progress-wrapper {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  //padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-inner {
  display: flex;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  //box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: #e2e2e2;
  align-items: center;
  justify-content: center;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.quiz-col {
  height: 100vh;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  .quiz-timer-question {
    padding: 0 !important;
    .timerQuestion {
      font: {
        size: 5em !important;
        weight: bold;
      }
      //margin-top: 50px !important;
    }
  }
  .answers-row {
    .tag-answer {
      position: absolute;
      color: #fff;
      //top: 0;
      padding: 3rem;
      //align-self: flex-start;
      @include centerFlex();
      font: {
        size: 3rem;
        weight: 900;
      }
      .tag-answer-img {
        position: absolute;
        width: 10rem;
        height: 100%;
        z-index: -1;
        //object-fit: contain;
      }
    }
    .answer {
      position: relative;
      min-height: 120px;
      color: #fff;
      font: {
        size: 1.9rem;
      }
      line-height: 100%;
      text-align: center;
      padding: {
        bottom: .5rem;
        top: .5rem;
      }
      @include respond-above('xlarge') {
        font-size: 2.7rem;
        min-height: 170px;
      }
      @include respond-below('xlarge') {
        font-size: 2.5rem;
        min-height: 160px;
      }
      @include respond-below('large') {
        font-size: 2.1rem;
        min-height: 150px;
      }
      @include centerFlex();
      .answer-img {
        position: absolute;
        width: 100%;
        height: 100%;
        @include respond-below('laptop') {
          height: 97%;
        }
        z-index: -1;
        left: 0;
        top: 0;
        object-fit: fill;
      }
    }
    .answers-left {
      .tag-answer {
        left: 0;
      }
      .answer {
        @include respond-above('xlarge') {
          padding: {
            left: 15%;
            right: 8%;
          }
        }
        @include respond-below('xlarge') {
          padding: {
            left: 20%;
            right: 8%;
          }
        }
        @include respond-below('large') {
          padding: {
            left: 24%;
            right: 6%;
          }
        }
        @include respond-below('laptop-hdpi') {
          padding: {
            left: 33%;
            right: 7%;
          }
        }
        @include respond-below('laptop-mdpi') {
          padding: {
            left: 36%;
            right: 6%;
          }
        }
        @include respond-below('laptop') {
          padding: {
            left: 45%;
            right: 6%;
          }
          font-size: 1.3rem;
        }
      }
    }
    .answers-timer {
      @include centerFlex();
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 3rem;
        font-weight: 800;
      }
      img.answers-timer-alert {
        position: absolute;
      }
    }
    .answers-right {
      .tag-answer {
        right: 0;
      }
      .answer {
        @include respond-above('xlarge') {
          padding: {
            left: 8%;
            right: 15%;
          }
        }
        @include respond-below('xlarge') {
          padding: {
            left: 8%;
            right: 20%;
          }
        }
        @include respond-below('large') {
          padding: {
            left: 6%;
            right: 24%;
          }
        }
        @include respond-below('laptop-hdpi') {
          padding: {
            left: 7%;
            right: 33%;
          }
        }
        @include respond-below('laptop-mdpi') {
          padding: {
            left: 6%;
            right: 36%;
          }
        }
        @include respond-below('laptop') {
          padding: {
            left: 6%;
            right: 45%;
          }
          font-size: 1.3rem;
        }
      }
    }
    .correct-answer {
      position: absolute;
      top: 0;
      left: 0;
      width: 99%;
      bottom: 0;
      border-radius: 90%;
      z-index: -1;
      &.active {
        box-shadow: 0 0 30px 20px rgba(27, 226, 92, .7);
      }
    }
  }
  .questions-numbers {
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff;
      padding-left: 2.5rem;
      @include respond-below('laptop-hdpi') {
        font-size: 1.2rem;
      }
      @include respond-below('laptop-mdpi') {
        font-size: 1.2rem;
      }
      @include respond-below('laptop') {
        font-size: 1rem;
      }
    }
  }
}

.traffic-light-col {
  background: {
    color: #1b5278;
  }
  .title-traffic-light {
    font: {
      size: 2rem;
      weight: 600;
    }
  }
  .gamer-row {
    .gamer-position {
      @include centerFlex();
      position: relative;
      z-index: 2;
      height: 90px;

      background: {
        position: center;
        size: contain;
        repeat: no-repeat;
      }

      .gamer-position-img {
        //position: absolute;
        //top: 0;
        //left: 0;
        //height: 100%;
      }
      span {
        color: #fff;
        z-index: 100;
        font: {
          size: 2rem;
          weight: 900;
        }
      }
    }
    .gamer-name {
      @include flexSettings(flex-start, center);
      background: linear-gradient(90deg, rgba(19, 52, 75, 1) 0%, rgba(31, 87, 124, .6) 100%);
      height: 80px;
      margin: {
        right: -50px;
        left: -50px;
      }
      padding: {
        right: 50px;
        left: 50px;
      }
      position: relative;

      @include respond-below('large') {
        flex: 0 0 55%;
        max-width: 55% !important;
      }
      @include respond-below('xlarge') {
        flex: 0 0 55%;
        max-width: 55% !important;
        margin: {
          left: -70px;
        }
      }
      @include respond-below('laptop-hdpi') {
        height: 70px;
      }
      @include respond-below('laptop-mdpi') {
        height: 58px;
      }
      @include respond-below('laptop') {
        height: 50px;
        flex: 0 0 55%;
        max-width: 55% !important;
        padding: {
          right: 20px;
          left: 20px;
        }
        margin: {
          left: -50px;
        }
        font: {
          size: 1.4rem;
        }
      }
      z-index: 1;
      color: #fff;
      font: {
        size: 2rem;
        weight: 900;
      }
    }
    .gamer-score {
      @include centerFlex();
      position: relative;
      z-index: 2;
      height: 120px;
      background: {
        position: center;
        size: contain;
        repeat: no-repeat;
      }

      .gamer-score-img {
        position: absolute;
        //top: 0;
        //left: 0;
        //height: 100%;
      }
      span {
        color: #fff;
        z-index: 100;
        font: {
          size: 2.5rem;
          weight: 900;
        }
      }
    }
  }
  .answer-row {
    .tag-answer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include centerFlex();
      color: #fff;
      font: {
        size: 2rem;
        weight: 700;
      }
    }
    .traffic-light-green {
      @include centerFlex();
      img {
        max-width: 80px;
        width: 80px;
      }
    }
    .traffic-light-red {
      @include centerFlex();
      img {
        max-width: 80px;
        width: 80px;
      }
    }
    .traffic-light-yellow {
      @include centerFlex();
      img {
        max-width: 80px;
        width: 80px;
      }
    }
    .traffic-light-blue {
      @include centerFlex();
      img {
        max-width: 80px;
        width: 80px;
      }
    }
  }
}

