<div class="container-fluid quiz-container-splash" *ngIf="!quiz">
  <div class="row align-items-center justify-content-center mt-5 mb-5">
    <div class="col-12 text-center">
      <!--<img class="img-fluid" src="./assets/image/logo-big.png">-->
      <img class="img-fluid" src="http://localhost:443/images/main-logo.png">
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-6 progress-col-6">
      <div class="shadow-top"></div>
      <ngb-progressbar [value]='progressValue'></ngb-progressbar>
      <div class="shadow-bottom"></div>
    </div>
  </div>

</div>

<router-outlet *ngIf="quiz"></router-outlet>
